<%- include('partials/header') %>
<body>
	<%- include('partials/navbar') %>

	<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
		<h1 class="display-4">Home</h1>
		<h2><%= data %></h2>
		<p class="lead"><%= loremData %></p>
		<p>Version <%= npm_package_version %></p>
	</div>

	<%- include('partials/footer') %>
</body>
</html>